<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciando com Flask</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>
    <h1>Iniciando Flask</h1>
    <p> Esse é um experimento de construção de aplicação com o Flask</p>
    <h2>Desenvolvimento de uma aplicação Web</h2></br>

    <p>Listando Diretório</p>
    {{cmd}}
    
    <!-- <div id="img"> -->

</body>
</html>